<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="180x180" href="{$baseUrl}/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{$baseUrl}/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{$baseUrl}/favicon-16x16.png">
	<link rel="manifest" href="{$baseUrl}/site.webmanifest">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="{$baseUrl}/css/bulma.min.css">
	<link rel="stylesheet" href="{$baseUrl}/css/styles.css">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Turistické známky</title>
</head>

<body>
<div class="container">
	{block menu}{/block}

	<div n:foreach="$flashes as $flash" class="notification is-{$flash->type}">{$flash->message}</div>

	{include content}
</div>

	{block scripts}
		<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
		<script src="{$baseUrl}/js/bundle.js"></script>
		{block userScript}
	{/block}
</body>
</html>
