{block menu}
    {control menu}
{/block}

{block content}

<div class="container">

    <div id="demo"></div>

    <div n:snippet="stamps" class="columns is-multiline">

        {foreach $allStamps as $stamp}
            <div class="column is-3">
                {include "@stampCard.latte", stamp => $stamp}
            </div>
        {/foreach}

    </div>
</div>

{/block}

<script n:syntax="double" n:block=userScript>
    document.addEventListener("DOMContentLoaded", () => {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                ajax({{plink "Homepage:nearby"}}, {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                })
            });
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    })
</script>
