{block menu}
    {control menu}
{/block}

{block content}

    <div class="container">
        <div n:snippet="stamps">
            <h3 class="title is-4 has-text-centered	">{_'nearby.forLocation{lat}{lng}', ['lat' => $lat, 'lng' => $lng]}</h3>
            <div class="columns is-multiline px-4">
                {foreach $stamps as $stamp}
                    <div class="column is-3">
                        {include "../@stampCard.latte", stamp => $stamp}
                    </div>
                {/foreach}
            </div>

        </div>
    </div>

{/block}

<script n:syntax="double" n:block=userScript>
    document.addEventListener("DOMContentLoaded", () => {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                ajax({{plink "Nearby:"}}, {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                })
            }, function () {
                alert("Geolocation is not allowed by this browser.");
            });
        } else {
            alert("Geolocation is not allowed by this browser.");
        }
    })
</script>
