parameters:
	csvPath: "https://www.turisticke-znamky.cz/export.php?item=1&type=csv"
	stampsImagesPath: "%appDir%/../www/images/stamps/"

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	router: App\Router\RouterFactory::createRouter

	# Helpers
	- App\Helpers\Translator

	# Models
	- App\Models\StampsModel
	- App\Models\ImportModel(%csvPath%, %stampsImagesPath%)
	- App\Models\UserModel
	- App\Models\CollectionModel

	# Forms
	formFactory:
		create: App\Forms\FormFactory
		setup:
			- register(@App\Forms\FilterForm)
			- register(@App\Forms\EditStampForm)
			- register(@App\Forms\LoginForm)
	- App\Forms\FilterForm
	- App\Forms\EditStampForm
	- App\Forms\LoginForm
