parameters:
	csvPath: "https://www.turisticke-znamky.cz/export.php?item=1&type=csv"
	stampsImagesPath: "%appDir%/../www/images/stamps/"

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	router: App\Router\RouterFactory::createRouter
	- App\Models\StampsModel
	- App\Models\ImportModel(%csvPath%, %stampsImagesPath%)
	- App\Models\UserModel
	- App\Models\CollectionModel