<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="{$baseUrl}">
			<img src="{$baseUrl}/mstile-150x150.png">{_'menu.allStamps'}
		</a>

		<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-start">

			<a href="{plink Nearby:}" class="navbar-item">
				{_'menu.nearby'}
			</a>

			<a n:if="$user->isLoggedIn()" href="{plink Homepage:, onlyCollected => true}" class="navbar-item">
				{_'menu.MyCollection'}&nbsp;<small>({$user->getIdentity()->email})</small>
			</a>

			<a n:if="$user->isLoggedIn()" href="{plink CollectionStats:}" class="navbar-item">
				{_'menu.MyCollectionStats'}
			</a>

		</div>

		<div class="navbar-end">
			<div class="navbar-item">
				<a n:if="$user->isInRole('admin')" href="{plink Admin:}" class="navbar-item is-dark">
					{_'menu.administration'}
				</a>
				{if $user->isLoggedIn()}
					<a href="{plink Login:out}" class="navbar-item is-danger">
						{_'menu.logout'}
					</a>
				{else}
					<a href="{plink Login:}" class="navbar-item is-primary">
						<strong>{_'menu.login'}</strong>
					</a>
				{/if}
			</div>
		</div>
	</div>
</nav>
